#usersTable {
	overflow: auto;
	text-align: center;
	margin-top:30px;
}

#headers {
	color: #2F343B;
}

td,th {
	padding-left:20px;
	font-size:30px;
}

button {
	display: inline-block;
	color:white;
	background-color:#2F343B;
	height:40px;
	font-size: 25px;
}

#add_form {
	margin-top:20px;
}

label {
	font-weight:bold;
	display: inline-block;
  	width: 70px;
  	text-align: right;
}

input {
	margin-top:30px;
	height:20px;
	font-size: 15px;
}

.show_div {
	margin-top: 10px;
	width: auto;
	height: 70px;
	display:inline-block;
}

.show_label {
	display: block;
	text-align: left;
	width: auto;
}

#name_autocomplete {
	display:inline-block;
	margin-top: 0px;
}

select {
	display: inline-block;
	width: 100px;
	height: 25px;
}

#studios, #episodes, #years {
	width: auto;
}

#submit {
	background-color:#2F343B;
	color:white;
	height:30px;
}